/* general */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  color: rgb(85, 85, 85);
}

/*scrollbar */
::-webkit-scrollbar {
  width: 2em;
}
::-webkit-scrollbar-track {
  /* background: hsl(120, 39%, 54% );*/
  margin-block: 0.5rem;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(limegreen, silver, black);
  /* border: 0.25rem solid hsl(120, 39%, 54% );*/
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(black, silver, limegreen);
}
/* for other browsers with scrollbar support */
@supports (scrollbar-color: linear-gradient(limegreen, gray, black)) {
  * {
    scrollbar-color: linear-gradient(limegreen, gray, black) white;
  }
}

/* transition */
a,
.btn {
  transition: all 30ms ease;
}

/* nav*/
#DESKTOP-NAV{
  box-shadow: 10px 10px 5px 1px silver;
}
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: black;
  text-decoration-color: white;
}
a:hover {
  text-decoration: underline;
  color: gray;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(101, 181, 101);
}
.logo {
  cursor: default;
  font-size: 2rem;
  color: rgb(101, 181, 101);

}
.logo:hover {
  transform: scale(1.1);
}
.logo::before {
  content: "< ";
  font-weight: bold;
}

.logo::after {
  content: " >";
  font-weight: bold;
}

/* hamburger menu*/

#hamburger-nav {
  display: none;
  
}
.hamburger-menu {
  display: inline-block;
  position: relative;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.menu-links {
  display: block;
  position: absolute;
  top: 15%;
  right: 5%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#social-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: black;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 800px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
/* sections */

section {
  padding-top: 4vh;
  height: 110vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* profile section */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.section_pic-container {
  height: 400px;
  width: 400px;
  display: flex;
  margin: auto 0;
}

.section_text {
  text-align: center;
  align-self: center;
}
.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  text-align: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.section_text_p2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  text-align: center;
}
/*#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}*/

/* icons */
.icons {
  cursor: pointer;
  height: 2rem;
  margin-top: 20px;
}
.icons:hover {
  transform: scale(1.2);
}
/* buttons */
.btn_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  transition: all 30ms ease;
  padding: 1rem;
  font-weight: 600;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color1,
.btn-color2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color1:hover,
.btn-color2:hover {
  cursor: pointer;
}
.btn-color1,
.btn-color2:hover {
  background: rgb(53, 53, 53);
  color: white;
}
.btn-color1:hover {
  background: rgb(0, 0, 0);
}
.btn-color2 {
  background: none;
}
.btn-color2:hover {
  background: rgb(0, 0, 0);
}

/* about section */
.section-container {
  display: flex;
}
#about {
  position: relative;
}
.about-container {
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-detail-container {
  justify-content: center;
  flex-direction: column;
}
.about-container,
.about-detail-container {
  display: flex;
  justify-content: space-between;
}
.about-pic,
.about-pic1 {
  border-radius: 2rem;
}
.arrow_icon {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  background-color: rgb(101, 181, 101);
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.arrow_icon:hover {
  transform: scale(0.8);
}
.detail-container {
  padding: 1.5rem;
  background: white;
  text-align: center;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 2rem;
  flex: 1;
  border-color: rgb(163, 163, 163); /*border color is given two times*/
}
.section-container {
  gap: 4rem;
  height: 50%; /*80%*/
}
.section_pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/*   experience section */
#experience {
  position: relative;
}

.experience-sub-title {
  font-size: 1.75rem;
  color: rgb(85, 85, 85);
  margin-bottom: 2rem;
  font-weight: 600;
}

.experience-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
}
.article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon {
  cursor: default;
}

.about-containers {
  display: flex;
  gap: 2rem;
}

/* project section*/
#project {
  position: relative;
}

.project-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-title {
  font-size: 1.5rem; /* Adjust font size as needed */
  color: rgb(0, 0, 0);
  margin: 1rem;
  font-weight: 600;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.tech.stack {
  font-size: 1.25rem; /* Reduce font size to prevent overflow */
  text-align: center;
  margin-bottom: 2rem; /* Adjust margin as needed */
}

.p.article-container {
  text-align: initial;
  gap: 1.5rem; /* Adjust gap for spacing */
  justify-content: space-around;
}

:root {
  --surface-2: white;
  --spacer: 1rem; /* Adjust the value as needed */
}

.project-containers {
  display: grid;
  gap: var(--spacer);
  padding: 0 var(--spacer) var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 35%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.card-container {
  display: grid;
  grid-template-rows: min-content;
  padding: var(--spacer);
  background: var(--surface-2);
  gap: var(--spacer);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.project-img {
  max-width: 100%; /* Consider using max-width instead */
  aspect-ratio: 16/9;
  object-fit: cover; /* can change to contain if u don't want to crop */
}

/* Remove duplicate definition */
.card-container {
  text-align: center;
  border-radius: 2rem;
  border-color: rgb(163, 163, 163);
}

/* contact section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 2rem;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.contact-info-container p {
  font-size: larger;
}
.contact-icon {
  cursor: default;
}
.email-icon {
  height: 2.5rem;
}
/* footer section */
footer {
  height: 26vh;
  margin: 0 1rem;
}
footer p {
  text-align: center;
}
